In [1]:
import pandas as pd

In [2]:
dataset_df = pd.read_csv("./dataset/combined_train_dataset.csv")
dataset_df.head()

,file_name,filename,Lithology_code,ROPA,BS,PEF,RXO,DCAL,RMIC,ROP,...,DTS,RHOB,NPHI,SGR,X_LOC,CALI,RSHA,Z_LOC,RDEP,DEPT
0,16_1-2_part_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.558078,...,NaN,NaN,NaN,NaN,455221.34375,NaN,0.857204,-1489.395874,54.397739,1514.396002
1,16_1-2_part_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.552036,...,NaN,NaN,NaN,NaN,455221.34375,NaN,0.851037,-1489.547852,54.597580,1514.548002
2,16_1-2_part_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.542084,...,NaN,NaN,NaN,NaN,455221.34375,NaN,0.802542,-1489.699829,54.674965,1514.700002
3,16_1-2_part_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.536138,...,NaN,NaN,NaN,NaN,455221.34375,NaN,0.746434,-1489.851929,2871.076630,1514.852001
4,16_1-2_part_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.170387,...,NaN,NaN,NaN,NaN,455221.34375,NaN,0.704487,-1490.003906,54.702625,1515.004001

In [4]:
dataset_df.describe()

,filename,Lithology_code,ROPA,BS,PEF,RXO,DCAL,RMIC,ROP,SP,...,DTS,RHOB,NPHI,SGR,X_LOC,CALI,RSHA,Z_LOC,RDEP,DEPT
count,0.0,250400.000000,22080.000000,139658.000000,149459.000000,68113.000000,70483.000000,28540.000000,244397.000000,216257.000000,...,13513.000000,210887.000000,137409.000000,17418.000000,296738.000000,241363.000000,135011.000000,296738.000000,300436.000000,304281.000000
mean,NaN,60923.148946,22.098711,13.833663,5.111277,13.671918,9.203146,3.183852,34.664516,68.026638,...,206.414771,2.205935,0.341284,59.359528,470061.878398,14.210724,23.693302,-1651.504857,360.453026,1643.962409
std,NaN,15442.366576,12.704032,4.535370,7.111814,303.791556,288.957821,61.781591,65.542362,55.368917,...,84.297315,0.264204,0.147417,27.999848,25594.383515,3.772850,162.820059,918.228148,913.832840,934.166382
min,NaN,30000.000000,0.472762,8.500000,0.351116,0.100000,-8.475032,0.132760,0.000000,-289.547302,...,90.316788,1.165622,-0.021500,-196.869995,437592.906250,5.519500,0.005141,-4440.093262,0.109100,25.000000
25%,NaN,65000.000000,12.703808,12.250001,2.897513,0.767282,0.074143,0.742398,4.500257,37.044769,...,143.192856,2.031391,0.229191,41.139948,443865.500000,12.259444,0.717435,-2280.409180,40.253189,893.072000
50%,NaN,65000.000000,19.580767,12.250001,3.773315,1.249617,0.432192,1.226077,18.022886,57.758904,...,181.163834,2.155141,0.355896,62.971619,475885.281250,13.316927,1.075544,-1580.366150,62.013117,1576.202799
75%,NaN,65000.000000,29.362420,17.500000,5.132616,2.867546,1.224148,2.006616,37.920708,92.356598,...,252.949524,2.426537,0.468907,73.983374,487274.843750,17.541880,1.828911,-916.844543,89.513861,2286.641016
max,NaN,99000.000000,92.480003,36.000000,318.368317,35930.671875,10012.417969,6567.910156,2224.647461,280.842529,...,448.659058,3.266250,0.901139,152.516830,520153.187500,27.344881,1999.800049,-73.719467,5107.217703,4466.586001